@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
    height: 100%;
  }
body {
    font-family: 'robotoTime', Fallback, sans-serif;
    display: flex !important;
    flex-direction: column !important;
    /*border: 10px solid #000;*/
}

.nav-link {
    color: black !important;
    font-weight: bold;
    font-family: 'Roboto', Fallback, sans-serif;
}


.corpeti-main{
    border-radius: 11px 11px 0  0;
    border: 1px solid #000;
    
} 
h1.corpeti {
    background-color: #2A2A2A;
    color:white;
    padding: 10px 0 10px 20px;
    font-size: 28px;
    border-radius: 10px 10px 0  0;

}
p.corpeti-text{
    padding: 10px;
    font-family: 'Roboto', Fallback, sans-serif;
}

.color-text-link li {
    margin: 0 10px;
    /*border: 1px solid #000;*/
}

.color-text-link li a {
    color: white !important;
    background-color: #0664A4;
    border-radius: 6px;
}


.main{
flex: 1 0 auto;
}
.footerT{
flex-shrink: 0 !important;
background-color: #343A40;
padding: 20px;
}

.text-footer {
    color:white;
    font-size: 14px;

}

@media (max-width: 576px) {
    .fix-container-1 {

      background-color: green;
      margin-top: 12%;

    }
    
    .color-text-link li a {
        color: white !important;
        background-color: black;
        border-radius: 0px;
        padding: 5px 10px !important;
        margin: 1px 0;
    }
    

}